<h1 mat-dialog-title style="text-align:center;">Select reviewers</h1>
<form #f="ngForm" (ngSubmit)="onSubmit(f.value)" ngNativeValidate>

    <div *ngFor="let field of formFields">
        <div *ngIf="message != null" class="row justify-content-center">
            <p style="color: red"> {{message}} </p>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <label for={{field.id}}>{{field.label}}</label>
            </div>
            <div class="col-5">
                <input type="text" name={{field.id}} ngModel *ngIf="field.type.name=='string'">
                <input type="checkbox" name={{field.id}} ngModel *ngIf="field.type.name=='boolean'">
                <input type="number" name={{field.id}} ngModel *ngIf="field.type.name=='long'">
                <input type="password" name={{field.id}} ngModel *ngIf="field.type.name=='password'">
                <select name="{{field.id}}" ngModel *ngIf="field.type.name=='enum'">
                    <option *ngFor="let val of enumValues" value={{val}}>
                        {{field.type.values[val]}}
                    </option>
                </select>
                <select multiple name="{{field.id}}" ngModel
                    *ngIf="field.type.name=='multipleEnum_recenzenti_iz_casopisa'">
                    <option *ngFor="let val of enumValues" value={{val}}>
                        {{field.type.values[val]}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <input class="btn btn-primary" type="submit">
    </div>
</form>